@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1b1212;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: start;
}

.playwrite-400 {
  font-family: "Playwrite ES Deco", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.chivo-mono {
  font-family: "Chivo Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.rubik-semi {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
